@{
    ViewData["Title"] = "Edit";
}

@model StudentListApp.Models.Student.StudentModel

<div class="text-center">
    <h1 class="display-4">Edit Student</h1>
</div>
<form method="post">
    <div class="mt-3">
        <label class="form-label">ID</label>
        <input type="number" class="form-control" asp-for="Id" readonly />
    </div>
    <div class="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey(nameof(Model.Name)))
        {
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        }
    </div>
    <div class="mt-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName" />
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey(nameof(Model.LastName)))
        {
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        }
    </div>
    <div class="mt-3">
        <label class="form-label">Nr Index</label>
        <input type="number" class="form-control" asp-for="NrIndex" />
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey(nameof(Model.NrIndex)))
        {
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.NrIndex)
            </div>
        }
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

